.g-abs {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
}

.fl {
  float: left;
}

.fr {
  float: right;
}

.clearfix:after {
  content: '.';
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}